# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Project Specific
*.ex
*.*nbrs
*.mat

# data file
*.mydat


# hw4
m*.ij
m*.vec
o*.vec
ro*.vec

# hw5
sports.mat
sports10.mat
*.mat~
*.nnbrs~
